.navbar {
  font-size: 16px;
  font-weight: 500;
}

body {
  padding-top: 70px;
}


.navbar .nav-link {
  color: #ffffff !important;
  transition: color 0.3s ease;
  padding: 8px 15px;
}

.navbar .nav-link:hover {
  color: #febe01 !important;
}

/* Remove default borders */
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

/* Mobile Styling */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-nav .nav-item {
    margin: 10px 0;
  }
}
/* Active Link Styling */
.navbar .nav-link.active {
  color: #febe01 !important;
}